{% extends 'base1.html'%}
{% block studentzone %}
{% if not request.session.user %}
<script>
    alert('You have to login first...');
    location.href='/user/signin/'
</script>
{% endif %}
<style>
    .dash
    {
    min-height:180px;
    background:white;
    text-align:center;
    font-size:30px;
    border-radius:5px;
    box-shadow:0px 0px 30px #979797;
    }
    a
    {
    color:grey;
    text-decoration:none;
    }
</style>
<div class="text-center fs-2" py-2><i class="fa-solid fa-list"></i> Dashboard</div>
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="#">
                <p class="dash py-5">
                <i class="fa-solid fa-video"></i>
                Lectures
                </p>
                    </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="#">
                <p class="dash py-5">
                <i class="fa-duotone fa-book"></i>
                E notes
                </p>
                    </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="#">
                <p class="dash py-5">
                <i class="fa-solid fa-list-check"></i>
                Task
                </p>
                    </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="#">
                <p class="dash py-5">
                <i class="fa-solid fa-people-group"></i>
                Upcomming Batches
                </p>
                    </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="#">
                <p class="dash py-5">
                <i class="fa-solid fa-wifi"></i>
                Live Classes
                </p>
                    </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="#">
                <p class="dash py-5">
                <i class="fa-solid fa-user"></i>
                Update Profile
                </p>
                    </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="#">
                <p class="dash py-5">
                <i class="fa-solid fa-download"></i>
                Software Kit
                </p>
                    </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="#">
                <p class="dash py-5">
                <i class="fa-solid fa-lock"></i>
                Change Password
                </p>
                    </a>
            </div>

        </div>
    </div>
</div>
{% endblock %}